/* =========================================
   MCSTONE KOMANDA — COMPACT SIZE
========================================= */

.team-page {
    width: min(1180px, 92%);
    padding: 28px 0 80px;
}

/* HERO mažesnis */

.team-hero {
    min-height: 230px;
    padding: 38px 45px;
}

.team-hero h1 {
    font-size: clamp(30px, 4vw, 46px);
    margin: 17px 0;
    line-height: 1.18;
}

.team-hero > p {
    font-size: 13px;
    line-height: 1.6;
    max-width: 650px;
}

.team-label {
    font-size: 8px;
}

.hero-info {
    margin-top: 20px;
    gap: 9px;
}

.hero-info div {
    min-width: 145px;
    padding: 11px 13px;
}

.hero-info strong {
    font-size: 7px;
}

.hero-info span {
    font-size: 9px;
}


/* SEKCIJOS arčiau viena kitos */

.team-section {
    margin-top: 48px;
}

.section-heading {
    gap: 13px;
    margin-bottom: 17px;
    padding-bottom: 12px;
}

.section-number {
    width: 34px;
    height: 34px;
    font-size: 8px;
}

.section-heading span {
    font-size: 6px;
}

.section-heading h2 {
    font-size: 15px;
    margin-top: 5px;
}


/* Mažesni tarpai tarp kortelių */

.team-grid {
    gap: 14px;
}


/* STAFF CARD */

.team-card {
    padding: 14px;
    border-radius: 10px;
}

.card-top {
    margin-bottom: 10px;
}

.role-badge {
    padding: 6px 8px;
    font-size: 6px;
}


/* Minecraft skin zona */

.skin-box {
    height: 205px;
}

.skin-box img {
    max-height: 185px;
    max-width: 85%;
}

.skin-glow {
    width: 120px;
    height: 120px;
}


/* Informacija */

.card-content {
    padding: 15px 2px 2px;
}

.small-label {
    font-size: 7px;
}

.card-content h3,
.vacancy h3 {
    font-size: 13px;
    margin: 8px 0;
}

.card-content p,
.vacancy p {
    min-height: 38px;
    font-size: 11px;
    line-height: 1.6;
}

.member-bottom {
    margin-top: 14px;
    padding-top: 11px;
}

.member-status {
    font-size: 8px;
}


/* Laisvos vietos */

.team-card.vacancy {
    min-height: 310px;
}

.vacancy-box {
    width: 65px;
    height: 65px;
    margin-bottom: 18px;
}

.vacancy-box span {
    font-size: 18px;
}


/* Tablet */

@media (max-width: 950px) {
    .team-page {
        width: 92%;
    }

    .team-hero {
        padding: 32px;
    }
}


/* Telefonas */

@media (max-width: 650px) {

    .team-page {
        width: 92%;
        padding-top: 20px;
    }

    .team-hero {
        padding: 27px 20px;
    }

    .team-hero h1 {
        font-size: 25px;
    }

    .skin-box {
        height: 190px;
    }

    .skin-box img {
        max-height: 170px;
    }

    .team-section {
        margin-top: 38px;
    }
}
